---
Checks: '-*,bugprone-*,clang-analyzer-*,modernize-*,readability-*,performance-*,misc-*,-readability-magic-numbers,-bugprone-easily-swappable-parameters,-performance-enum-size'
WarningsAsErrors: '*'
FormatStyle: file
...
