---
Checks:
  - -*
  - misc-include-cleaner
  - modernize-*
  - readability-*
  - clang-analyzer-*
  - bugprone-*
  - cert-*
  - cppcoreguidelines-*
  - -bugprone-easily-swappable-parameters
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-pro-type-union-access
  - -readability-magic-numbers
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
  - key: readability-identifier-length.IgnoredVariableNames
    value: i|j|k|n|x|y|z
  - key: readability-inconsistent-declaration-parameter-name.IgnoreMacros
    value: false
WarningsAsErrors: "*"
FormatStyle: file
SystemHeaders: false
HeaderFilterRegex: "^(src)/|^.*/maplibre-native-ffi/(src)/"
ExcludeHeaderFilterRegex: "^.*/maplibre-native-ffi/third_party/"
