BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 2
UseCRLF: false
UseTab: Never
AlignAfterOpenBracket: BlockIndent
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<[a-zA-Z0-9_]+>$
    Priority: -100
  - Regex: ^<mbgl/.*>$
    Priority: -60
  - Regex: ^<.*>$
    Priority: -50
  - Regex: .*
    Priority: 1
