---
BasedOnStyle: Microsoft
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 2
UseCRLF: false
UseTab: Never
AlignAfterOpenBracket: BlockIndent
IncludeCategories:
  - Regex: '^<((mbgl)\/).*>$'
    Priority: 4
  - Regex: '^<.*>$'
    Priority: 3
  - Regex: '.*'
    Priority: 5
...
