---
BasedOnStyle: Google
ColumnLimit: 80
TabWidth: 2
UseCRLF: false
UseTab: Never
AlignAfterOpenBracket: BlockIndent
KeepEmptyLines:
  AtStartOfFile: false
  AtEndOfFile: false
IncludeCategories:
  - Regex: '^<((mbgl)\/).*>$'
    Priority: 4
  - Regex: '^<.*>$'
    Priority: 3
  - Regex: '.*'
    Priority: 5
...
